<div>
<h1 style="text-align: center">OpenFin MMAP POC Number of Records in MMAP : {{numOfRecords | number}}</h1>
  <h1 style="text-align: center">First Row : {{firstRow}} Last Row : {{lastRow}}</h1>

  <button (click)="startMessagingWorker($event)" >Start Reading</button>
  <button (click)="pauseUpdating($event)" >Pause</button>
  <button (click)="resumeUpdating($event)" >Resume</button>
  <button (click)="startReadingInMessagingWorker($event)" >Start Worker</button>
  <button (click)="displayVisibleRowIds($event)" >Display Visible RowIds</button>

<!--  <div class="row" style="display: flex">-->
<!--    <div class="cell" >Symbol</div>-->
<!--    <div class="cell" >Mid</div>-->
<!--    <div class="cell" >BidPrice</div>-->
<!--    <div class="cell" >AskPrice</div>-->
<!--  </div>-->
<!--  <div *ngFor="let m of marketDataList">-->
<!--    <div class="row" style="display: flex">-->
<!--      <div class="cell" >{{m.symbol}}</div>-->
<!--      <div class="cell" >{{m.mid}}</div>-->
<!--      <div class="cell" >{{m.bidPrice0}}</div>-->
<!--      <div class="cell" >{{m.askPrice0}}</div>-->
<!--    </div>-->
<!--  </div>-->

  <ag-grid-angular
      #agGrid

      style="width: auto; height:calc(100vh - 200px);"
    class="ag-theme-balham-dark"
      [enableCellChangeFlash]="false"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>

</div>
